* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    text-decoration:none;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('IMG_2359.WEBP');

}
.calculator{
    display: grid;
    position: relative;
    text-align: center;
    border: 10px solid rgb(233, 199, 4);
}
.calculator input{
    grid-column: span 4;
    height: 100px;
    border: 0;
    outline: none;
    padding: 0px 30px 0px 30px;
    font-size: 24px;
    text-align: right;


}
.calculator span{
    padding: 20px;
    background: #8e8eec;
    border: 5px solid rgba(7, 7, 7, 0.103);
    cursor: pointer;
}
.calculator span.clear{
    grid-column: span 1;
}
.calculator span:active{
    background: #ec4abc;
}